<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>user list</title>
</head>
<body>
    <table id="dataTable" class="table table-bordered">

        <thead>
        <tr>
            <th>ID</th>
            <th>姓名</th>
            <th>密码</th>
        </tr>
        </thead>

        <tbody th:remove="all-but-first" th:unless="${#lists.isEmpty(users)}">
        <tr th:each="obj, objStat: ${users}">
            <td th:text="${obj.id}"></td>
            <td th:text="${obj.username}"></td>
            <td th:text="${obj.password}"></td>
            </td>
        </tr>
        </tbody>
        <tbody th:if="${#lists.isEmpty(users)}">
        <tr>
            <td colspan="12">没有符合查询条件的记录！</td>
        </tr>
        </tbody>
    </table>
</body>
</html>

